*{
    border: 0px;
    margin: 0px;
    font-size: 32px;
    font-family: serif;
}

.container{
    width: 100%;
    height: 100vh;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display{
width: 90%;
height: 10vh;
/* border: 2px solid red; */

}
h1{
    font-family: cursive;
}

input{
    width: 99.6%;
    height: 10vh;
    /* border: 2px dotted black;   */
    background-image:linear-gradient(black,white,rgb(153, 167, 218));
    font-family: cursive;
}

.buttons{
width: 90%;
/* height: 80vh; */
/* border: 2px dotted black; */
display: flex;
flex-wrap: wrap;
gap: 0px;
background-image:linear-gradient(black,white,rgb(194, 238, 107));

}

button{
    width: 25%;
   height:10vh;  
padding: 5px;
font-family: cursive;
}

.calculatebtn{
    width: 100%;
    margin: 15px;
}


  